[*.cs]

# IDE0059: Niepotrzebne przypisanie wartości
csharp_style_unused_value_assignment_preference = discard_variable:none

# IDE0018: Deklaracja zmiennej wbudowanej
csharp_style_inlined_variable_declaration = true:none

# IDE0044: Dodaj modyfikator tylko do odczytu
dotnet_style_readonly_field = true:none
